{% extends "base.html" %}
{% load static %}

{% block title %} Book Appointment {% endblock %}

{% block nav %}
    {% include "patient/patient_navbar.html" %}
{% endblock %}

{% block content %}

{% for m in messages %}
    <script>
        Swal.fire({
            title: "Error",
            text: "{{m}}",
            icon: "error"
        });
    </script>
{% endfor %}

<div class="container mt-4">
    <div class="row">
        {% for doctor in doctors %}
            <div class="col-xl-4 col-md-6 col-sm-12 mb-3">
                <div class="card shadow">
                    <div class="card-body">
                        <img src="{{ doctor.profile_picture.url }}" alt="Doctor Image" style="background-size: cover; height: 33em; background-position: center; width: 100%;">
                        <hr>
                        <h4 class="card-title text-center mt-2">{{ doctor.first_name }} {{ doctor.last_name }}</h4>
                    </div>
                    <div class="card-footer d-flex justify-content-end align-items-end">
                        <button class="btn btn-success book-appointment-btn" data-bs-toggle="modal" data-bs-target="#staticBackdrop" data-username="{{ doctor.username }}">Book Appointment</button>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Book Appointment</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="post" action="{% url 'patient-book-appointment' %}">
                        {% csrf_token %}
                        <input type="hidden" id="doctor-username" name="doctor_username" value="doctor1">
                        <div class="mb-3">
                            <label for="speciality" class="form-label">Required Speciality</label>
                            <input type="text" class="form-control" id="speciality" name="speciality" required="">
                        </div>
                        <div class="mb-3">
                            <label for="date" class="form-label">Date of Appointment</label>
                            <input type="date" class="form-control" id="date" name="date" required="" min="2024-08-07">
                        </div>
                        <div class="mb-3">
                            <label for="start_time" class="form-label">Start Time of Appointment</label>
                            <input type="time" class="form-control" id="start_time" name="start_time" required="">
                        </div>
                        <button type="submit" class="btn btn-success">Confirm</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    {% if doctors %}
        {% include "patient/appointment_pagination.html" %}
    {% else %}
        <script>
            swal("Warning", "Sorry, No doctors available", "warning")
        </script>
    {% endif %}
</div>

<script>
document.addEventListener('DOMContentLoaded', function() {
    var appointmentButtons = document.querySelectorAll('.book-appointment-btn');
    var modalUsername = document.getElementById('doctor-username');

    appointmentButtons.forEach(function(button) {
        button.addEventListener('click', function() {
            var username = this.getAttribute('data-username');
            modalUsername.textContent = username;
        });
    });
});
</script>

{% endblock %}