{% extends "base.html" %}
{% load static %}

{% block title %} Patient Dashboard {% endblock %}

{% block nav %}
    
    {% include "patient/patient_navbar.html" %}

{% endblock %}

{% block content %}
    <div class="container mt-3">
        <div class="card" style="border-radius: 3px; border-color: black;">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-5 col-sm-12">
                        <div class="card" style="border-radius: 3px; border-color: black;">
                            <div class="card-body wallpaper-photo-doctor" style="height: 35em; background-image: url('{% if user.profile_picture %}{{ user.profile_picture.url }}{% endif %}'); background-size: cover; background-position: center;">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7 col-12 pt-sm-2">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-12">
                                    <img src="{% static 'images/hello_doctor.png' %}" class="mr-2" style="width: 5em; height: 5em;">
                                </div>
                            </div>
                            <div class="row mt-2 no-margin">
                                <div class="col-sm-12 ml-2" style="display: flex;">
                                    <h1>I'am, &nbsp;</h1>
                                    <h1><strong style="font-family: Arial, Helvetica, sans-serif;"> {{ user.username }} </strong></h1>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 ml-2">
                                    <h4>{{ user.user_type }}</h4>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <hr style="height: 2px;" noshade class="bg-secondary">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3 ml-2">
                                    <p class="mt-1"><b>FIRST NAME</b></p>
                                </div>
                                <div class="col-sm-7 offset-1">
                                    <p class="mt-1 text-muted"> {{ user.first_name }}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3 ml-2">
                                    <p class="mt-1"><b>LAST NAME</b></p>
                                </div>
                                <div class="col-sm-7 offset-1">
                                    <p class="mt-1 text-muted"> {{ user.last_name }}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3 ml-2">
                                    <p class="mt-1"><b>E-MAIL</b></p>
                                </div>
                                <div class="col-sm-7 offset-1">
                                    <p class="mt-1 text-muted">{{ user.email }}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3 ml-2">
                                    <p class="mt-1"><b>ADDRESS</b></p>
                                </div>
                                <div class="col-sm-7 offset-1">
                                    <p class="mt-1 text-muted"> {{ user.address }}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3 ml-2">
                                    <p class="mt-1"><b>PINCODE</b></p>
                                </div>
                                <div class="col-sm-7 offset-1">
                                    <p class="mt-1 text-muted"> {{ user.pincode }}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3 ml-2">
                                    <p class="mt-1"><b>STATE</b></p>
                                </div>
                                <div class="col-sm-7 offset-1">
                                    <p class="mt-1 text-muted">{{ user.state }}</p>
                                </div>
                            </div>
                            <hr style="height: 2px;" noshade class="bg-secondary">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", async () => {
            const rejectedAppointments = [
//                {% for i in rejected_appointments %}
                    {
                        doctor: "{{ i.doctor.username }}",
                        specialization: "{{ i.doctor_specialization }}",
                        date: "{{ i.appointment_date }}",
                        time: "{{ i.appointment_time }}",
                        endTime: "{{ i.appointment_end_time }}"
                    },
//                {% endfor %}
            ];

            const approvedAppointments = [
//                {% for j in approved_appointments %}
                    {
                        doctor: "{{ j.doctor.username }}",
                        specialization: "{{ j.doctor_specialization }}",
                        date: "{{ j.appointment_date }}",
                        time: "{{ j.appointment_time }}",
                        endTime: "{{ j.appointment_end_time }}"
                    },
//                {% endfor %}
            ];

            const messages = [
//                {% for message in messages %}
                    "{{ message }}",
//                {% endfor %}
            ];

            async function showAlertsSequentially() {
                for (const i of rejectedAppointments) {
                    await Swal.fire({
                        title: "Sorry",
                        text: `Sorry, your request sent to ${i.doctor} for ${i.specialization} at ${i.date}, ${i.time} to ${i.endTime} has been rejected. Please try a different time or different doctor.`,
                        icon: "info"
                    });
                }

                for (const j of approvedAppointments) {
                    await Swal.fire({
                        title: "Success",
                        text: `Congrats, your request sent to ${j.doctor} for ${j.specialization} at ${j.date}, ${j.time} to ${j.endTime} has been approved. Check your email, an invitation has been sent. Stay available at the mentioned time.`,
                        icon: "success"
                    });
                }

                for (const message of messages) {
                    await Swal.fire({
                        title: "Message",
                        text: message,
                        icon: "info"
                    });
                }
            }

            if (rejectedAppointments.length > 0 || approvedAppointments.length > 0 || messages.length > 0) {
                await showAlertsSequentially();

                fetch("{% url 'patient-dashboard' %}", {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded',
                        'X-CSRFToken': '{{ csrf_token }}'
                    },
                    body: new URLSearchParams({
                        'update_status': 'true'
                    })
                });
            }
        });
    </script>

{% endblock %}
