{% extends "base.html" %}
{% load static %}

{% block title %} Doctor Dashboard {% endblock %}

{% block nav %}
    {% include "doctor/doctor_navbar.html" %}
{% endblock %}

{% block content %}

    {% if messages %}
        {% for message in messages %}
            <script>
                swal("Success", "{{message}}", "success")
            </script>
        {% endfor %}
    {% endif %}

    {% if count %}
        <script>
            swal("New Appointments", "You have {{count}} new requested appointment's, Please check them out. ", "info")
        </script>
    {% endif %}

    <div class="container mt-3">
        <div class="card" style="border-radius: 3px; border-color: black;">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-5 col-sm-12">
                        <div class="card" style="border-radius: 3px; border-color: black;">
                            <div class="card-body wallpaper-photo-doctor" style="height: 35em; background-image: url('{% if user.profile_picture %}{{ user.profile_picture.url }}{% endif %}'); background-size: cover; background-position: center;">
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-lg-7 col-12 pt-sm-2">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-12">
                                    <img src="{% static 'images/hello_doctor.png' %}" class="mr-2" style="width: 5em; height: 5em;">
                                </div>
                            </div>
                            <div class="row mt-2 no-margin">
                                <div class="col-sm-12 ml-2" style="display: flex;">
                                    <h1>I'am, &nbsp;</h1>
                                    <h1><strong style="font-family: Arial, Helvetica, sans-serif;"> {{ user.username }} </strong></h1>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 ml-2">
                                    <h4>{{ user.user_type }}</h4>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <hr style="height: 2px;" noshade class="bg-secondary">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3 ml-2">
                                    <p class="mt-1"><b>FIRST NAME</b></p>
                                </div>
                                <div class="col-sm-7 offset-1">
                                    <p class="mt-1 text-muted"> {{ user.first_name }}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3 ml-2">
                                    <p class="mt-1"><b>LAST NAME</b></p>
                                </div>
                                <div class="col-sm-7 offset-1">
                                    <p class="mt-1 text-muted"> {{ user.last_name }}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3 ml-2">
                                    <p class="mt-1"><b>E-MAIL</b></p>
                                </div>
                                <div class="col-sm-7 offset-1">
                                    <p class="mt-1 text-muted">{{ user.email }}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3 ml-2">
                                    <p class="mt-1"><b>ADDRESS</b></p>
                                </div>
                                <div class="col-sm-7 offset-1">
                                    <p class="mt-1 text-muted"> {{ user.address }}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3 ml-2">
                                    <p class="mt-1"><b>PINCODE</b></p>
                                </div>
                                <div class="col-sm-7 offset-1">
                                    <p class="mt-1 text-muted"> {{ user.pincode }}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3 ml-2">
                                    <p class="mt-1"><b>STATE</b></p>
                                </div>
                                <div class="col-sm-7 offset-1">
                                    <p class="mt-1 text-muted">{{ user.state }}</p>
                                </div>
                            </div>
                            <hr style="height: 2px;" noshade class="bg-secondary">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
    </div>

{% endblock %}
