{% extends "base.html" %}
{% load static %}

{% block title %} Schedule {% endblock %}

{% block nav %}
    {% include "doctor/doctor_navbar.html" %}
{% endblock %}

{% block content %}

    <div class="container mt-xl-2 mt-5">
        <div class="row">
            {% for ob in appointments %}
            <div class="col-3 mb-3">
                <div class="card">
                    <div class="card-body">
                        <img src="{{ ob.patient.profile_picture.url }}" alt="Patient Image" style="background-size: cover; background-position: center; width: 100%;">
                        <hr>
                        <b>Patient Name: </b> {{ob.patient.username}}  <br>
                        <b>Specialization: </b> {{ob.doctor_specialization}} <br>
                        <b>Doctor Name: </b> {{ob.doctor.username}} <br>
                        <b>Date: </b> {{ob.appointment_date}} <br>
                        <b>End Date: </b> {{ob.appointment_end_date}} <br>
                        <b>Time: </b> {{ob.appointment_time}} - {{ob.appointment_end_time}} <br>
                        <b>Appointment Status: </b> {{ob.appointment_status}} 
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% if appointments %}
            {% include "doctor/schedule_pagination.html" %}
        {% endif %}
    </div>

{% endblock %}
