{% extends "base.html" %}
{% load static %}

{% block title %} Doctor Login {% endblock %}

{% block nav %}

    {% include "default_navbar.html" %}

{% endblock %}

{% block content %}

{% if messages %}
    {% for message in messages %}
        <script>
            swal("Error", "{{message}}", "error")
        </script>
    {% endfor %}
{% endif %}

<div class="container-fluid bg-white mt-2">
    <div class="row">
        <div class="col-lg-8 p-0 order-lg-2 col-12 order-1">
            <img src="{% static 'images/login_image_hospital-2.jpg' %}" class="img-fluid" alt="Background Image" />
        </div>
        <div class="col-lg-4 order-lg-1 mt-5 col-12 order-2 mb-3 mb-lg-0">
            <h1 class="text-center mt-4"><img src="{% static 'images/healthcare.png' %}" style="height: 50px; width: 50px;" alt="logo" /> <strong>Banao</strong></h1>
            <h3 class="text-center mt-2">Doctor Login</h3>
            <div class="mt-4 text-center">
                Don't have an account? <a href="{% url 'register' %}" style="color: orange;">Register Now!</a>
            </div>
            <form method="post" action="{% url 'doctor_login' %}">
                {% csrf_token %}
                <div class="form-group mt-3">
                    <div class="row">
                        <div class="col-md-10 col-12 offset-md-1">
                            <label for="username">Username</label>
                            <input type="text" class="form-control" id="username" name="username">
                        </div>
                    </div>
                </div>
                <div class="form-group mt-3">
                    <div class="row">
                        <div class="col-md-10 col-12 offset-md-1">
                            <label for="password">Password</label>
                            <div class="input-group">
                                <input type="password" class="form-control" id="password" name="password">
                            </div>
                            <a href="#" style="color: orange;">Forgot password?</a>
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <button type="submit" onclick="fields_check(event)" style="width: 82%;" class="btn btn-primary btn-block mt-4">Login</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}